.app-wrapper {
  color: cadetblue;
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'h h'
  'n a'
  'f f';
  height: 100vh;
  grid-gap: 15px;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 20% 1fr;
}

.app-wrapper-content {
  grid-area: a;
  background-color: aliceblue;
  padding: 20px;
}
